<div class="row">
  <div class="col-md-6 col-sm-12">
    <app-controls #controlsComponent></app-controls>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div *ngIf="playlistData == null">Please start json-server.</div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let data of playlistData">
            <i class="fa fa-play btn" (click)="controlsComponent.playerComponent.playVideo(data.url,data.subTitle)"> {{data.title}}</i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
